@model IEnumerable<Azimzadeh_MVC_project.Models.Slider>

        <!-- Slider Area Start -->
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var slider in Model)
                                    {
                                        <a href="@slider.ButtonLink">
                                            <img src="@slider.ImagePath" data-thumb="@slider.ImagePath" alt="@slider.Title" title="#slider-caption-@slider.SliderId"/>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="/Home/Shop"> <img src="/assets/img/slider/5.jpg" data-thumb="img/slider/5.jpg" alt="" title="#slider-caption-default1"/></a>
                                    <a href="/Home/Shop"><img src="/assets/img/slider/6.jpg" data-thumb="img/slider/6.jpg" alt="" title="#slider-caption-default2"/></a>
                                }
                            </div>
                            <!-- Slider Background  Image Start-->
                            @if (Model != null && Model.Any())
                            {
                                foreach (var slider in Model)
                                {
                                    <div id="slider-caption-@slider.SliderId" class="nivo-html-caption nivo-caption">
                                        <div class="text-content-wrapper">
                                            <div class="text-content">
                                                <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s" data-wow-delay="0s">@slider.Subtitle</h4>
                                                <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">@Html.Raw(slider.Title.Replace("\n", "<br>").Replace("\r", ""))</h1>
                                                <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                                    <a class="button slider-btn" href="@slider.ButtonLink">@slider.ButtonText</a>                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div id="slider-caption-default1" class="nivo-html-caption nivo-caption">
                                    <div class="text-content-wrapper">
                                        <div class="text-content">
                                            <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s" data-wow-delay="0s">فروش ویژه</h4>
                                            <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">ابزارآلات دستی <br>اره برقی قدرتمند</h1>
                                            <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                                <a class="button slider-btn" href="/Home/Shop">هم‌اکنون خرید کنید</a>                    
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div id="slider-caption-default2" class="nivo-html-caption nivo-caption">
                                    <div class="text-content-wrapper">
                                        <div class="text-content slide-2">
                                            <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="1s" data-wow-delay="1s">فروش ویژه</h4>
                                            <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s" data-wow-delay="2s">ابزارآلات دستی <br>اره برقی قدرتمند</h1>
                                            <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="3s">
                                                <a class="button slider-btn" href="/Home/Shop">هم‌اکنون خرید کنید</a>                    
                                            </div>
                                        </div>       
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                         <!-- Single Banner Start -->
                        <div class="single-banner zoom mb-20">
                            <a href="#"><img src="/assets/img/banner/9.jpg" alt="بنر اسلایدر"></a>
                        </div>
                        <!-- Single Banner End -->
                        <!-- Single Banner Start -->
                        <div class="single-banner zoom">
                            <a href="#"><img src="/assets/img/banner/10.jpg" alt="بنر اسلایدر"></a>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End --> 
        <!-- Product Area Start -->
        <div class="product-area pt-30">
            <div class="container">
                <div class="row">
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" src="/assets/img/products/1.jpg" alt="تصویر محصول">
                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>                                
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                    <img class="secondary-img" src="/assets/img/products/4.jpg" alt="تصویر محصول">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>                                
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                            <span class="sticker-new">-30%</span>
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" src="/assets/img/products/5.jpg" alt="تصویر محصول">
                                    <img class="secondary-img" src="/assets/img/products/6.jpg" alt="تصویر محصول">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>                                
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a href="product.html">
                                    <img class="primary-img" src="/assets/img/products/7.jpg" alt="تصویر محصول">
                                    <img class="secondary-img" src="/assets/img/products/8.jpg" alt="تصویر محصول">
                                </a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>                                
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                            <span class="sticker-new">-32%</span>
                        </div>
                    </div>
                    <!-- Single Product End -->                    
                </div>
            </div>
        </div> 
        <!-- Product Area End --> 
        <!-- Banner Start -->
        <div class="upper-banner banner pb-60">
            <div class="container">
                <div class="summer-offers-container" style="border: 2px solid #ff9800; border-radius: 12px; padding: 35px 20px 20px 20px; position: relative; background: #fffaf0; box-shadow: 0 6px 20px rgba(255,152,0,0.06); margin-top: 15px;">
                    <div class="summer-offers-header" style="position: absolute; top: -18px; right: 30px; background: linear-gradient(135deg, #ff9800, #e65100); color: #fff; padding: 6px 25px; border-radius: 20px; font-size: 15px; font-weight: bold; box-shadow: 0 4px 12px rgba(255, 152, 0, 0.35); display: flex; align-items: center; gap: 8px;">
                        <i class="fa fa-sun-o" style="font-size: 18px; animation: spin 8s linear infinite;"></i>
                        <span style="font-family: 'yekan', sans-serif;">پیشنهادهای تابستانه</span>
                    </div>
                    <div class="row">
                        @{
                            var galleryItems = ViewBag.GalleryItems as List<Azimzadeh_MVC_project.Models.Gallery>;
                            if (galleryItems != null && galleryItems.Count >= 2)
                            {
                                <!-- Single Banner Start -->
                                <div class="col-sm-6">
                                     <div class="single-banner zoom">
                                         <a href="#"><img src="@galleryItems[0].ImagePath" alt="@galleryItems[0].Title"></a>
                                     </div>
                                 </div>
                                <!-- Single Banner End -->
                                 <!-- Single Banner Start -->
                                <div class="col-sm-6">
                                     <div class="single-banner zoom">
                                         <a href="#"><img src="@galleryItems[1].ImagePath" alt="@galleryItems[1].Title"></a>
                                     </div>
                                 </div>
                                <!-- Single Banner End -->
                            }
                            else
                            {
                                <!-- Single Banner Start -->
                                <div class="col-sm-6">
                                     <div class="single-banner zoom">
                                         <a href="#"><img src="/assets/img/banner/1.png" alt="Ø¨Ù†Ø± ØªØ¨Ù„ÛŒØºØ§ØªÛŒ"></a>
                                     </div>
                                 </div>
                                <!-- Single Banner End -->
                                 <!-- Single Banner Start -->
                                <div class="col-sm-6">
                                     <div class="single-banner zoom">
                                         <a href="#"><img src="/assets/img/banner/2.png" alt="Ø¨Ù†Ø± ØªØ¨Ù„ÛŒØºØ§ØªÛŒ"></a>
                                     </div>
                                 </div>
                                <!-- Single Banner End -->
                            }
                        }
                    </div>
                    <!-- Row End -->
                </div>
            </div>
        </div>
        
        <style>
            @@keyframes spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }
            .summer-offers-container .single-banner img {
                border-radius: 8px;
                transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.4s ease;
            }
            .summer-offers-container .single-banner:hover img {
                transform: translateY(-4px);
                box-shadow: 0 10px 25px rgba(230, 81, 0, 0.2);
            }
        </style>
        <!-- Banner End -->
        <!-- New Products Start -->
        <div class="new-products pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 order-2">
                        <div class="side-product-list">
                            <div class="group-title">
                                <h2>محصولات برتر</h2>
                            </div>
                            <!-- Deal Pro Activation Start -->
                            <div class="slider-right-content side-product-list-active owl-carousel">
                                <!-- Double Product Start -->
                                <div class="double-pro">
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/1.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/2.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/3.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/4.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/5.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- Double Product End -->
                                <!-- Double Product Start -->
                                <div class="double-pro">
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/6.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/7.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/8.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/5.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/4.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- Double Product End -->
                                <!-- Double Product Start -->
                                <div class="double-pro">
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/1.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/2.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/3.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/4.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html"><img class="img" src="/assets/img/products/5.jpg" alt="تصویر محصول"></a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                            <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- Double Product End -->                                
                            </div>
                            <!-- Deal Pro Activation End -->
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8  order-lg-2">
                        <!-- New Pro Content End -->
                        <div class="new-pro-content">
                            <div class="pro-tab-title border-line">
                                <!-- Featured Product List Item Start -->
                                <ul class="nav product-list product-tab-list">
                                    <li><a  class="active" data-toggle="tab" href="#new-arrival">جدیدترین‌ها</a></li>
                                    <li><a data-toggle="tab" href="#toprated">ویژه</a></li>
                                    <li><a data-toggle="tab" href="#new-arrival">محبوب‌ترین‌ها</a></li>
                                </ul>
                                <!-- Featured Product List Item End -->
                            </div>
                            <div class="tab-content product-tab-content jump">
                                <div id="new-arrival" class="tab-pane active">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/1.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/4.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/5.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/6.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/1.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/4.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                                <!-- New Products End -->
                                <div id="toprated" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/4.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                            <span class="sticker-new">-30%</span>
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/1.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/1.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/2.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                        <!-- Single Product Start -->
                                        <div class="single-product">
                                            <!-- Product Image Start -->
                                            <div class="pro-img">
                                                <a href="product.html">
                                                    <img class="primary-img" src="/assets/img/products/3.jpg" alt="تصویر محصول">
                                                    <img class="secondary-img" src="/assets/img/products/4.jpg" alt="تصویر محصول">
                                                </a>
                                            </div>
                                            <!-- Product Image End -->
                                            <!-- Product Content Start -->
                                            <div class="pro-content">
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>                                
                                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" data-toggle="tooltip" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart"></i></a>
                                                        <a class="add-cart" href="cart.html" data-toggle="tooltip" title="افزودن به سبد خرید">افزودن به سبد خرید</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Product Content End -->
                                        </div>                                        
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                            </div>
                                           <!-- Single Policy End -->
                </div>
            </div>
        </div>
        <!-- Company Policy End -->   
        <!-- Best Products Start -->
        <div class="best-seller-product pb-40">
            <div class="container">
                <div class="group-title">
                    <h2>محصولات پرفروش</h2>
                </div>
                <!-- Best Product Activation Start -->
                <div class="best-seller-pro-active  owl-carousel slider-right-content">
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/1.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/2.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/3.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/4.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/5.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/6.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/7.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/8.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/5.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/6.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/7.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">30.00 ریال</span><del class="prev-price">32.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="product.html"><img class="img" src="/assets/img/products/8.jpg" alt="تصویر محصول"></a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product.html">نام محصول در اینجا</a></h4>
                                <p><span class="price">150.00 ریال</span><del class="prev-price">200.00 ریال</del></p>
                            </div>
                        </div>
                        <!-- Single Product End -->
                    </div>
                    <!-- Double Product End -->
                </div>
                <!-- Best Product Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Best Product End -->             
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>مطالب وبلاگ</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="/assets/img/blog/1.jpg" alt="تصویر وبلاگ"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>نویسنده: </span> <a href="#">جانتریك</a></li>
                                    <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">ادامه مطلب.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="/assets/img/blog/2.jpg" alt="تصویر وبلاگ"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>نویسنده: </span> <a href="#">جانتریك</a></li>
                                    <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">ادامه مطلب.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                    <!-- Single Blog Start -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="/assets/img/blog/3.jpg" alt="تصویر وبلاگ"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="blog-details.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</a></h4>
                            <div class="blog-meta">
                                <ul>
                                    <li><span>نویسنده: </span> <a href="#">جانتریك</a></li>
                                    <li><span>تاریخ: </span> <a href="#">05 Nov, 2018</a></li>
                                </ul>
                            </div>
                            <div class="readmore">
                                <a href="blog-details.html">ادامه مطلب.....</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Blog End -->
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img class="img" src="/assets/img/brand/1.png" alt="تصویر برند"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/2.png" alt="تصویر برند"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/3.png" alt="تصویر برند"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/4.png" alt="تصویر برند"></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="/assets/img/brand/5.png" alt="تصویر برند"></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        