<!-- FA-RTL CONVERSION: translated content + set dir="rtl", lang="fa". See summary report for details. -->
<!doctype html>
<html class="no-js" lang="fa" dir="rtl"><!--------ملت وب مرجع خرید و فروش و همچنین انواع قالب های وردپرس و html mellatweb.com------------->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>خانه || قالب فروشگاهی ابزارآلات جانتریک</title>
    <meta name="description" content="توضیحات پیش‌فرض">
    <meta name="keywords" content="تجارت الکترونیک، فروشگاه ابزار" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="@Azimzadeh_MVC_project.Models.SiteSettingsHelper.SiteFavicon">
    <!-- Google Font css -->
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- mobile menu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- nivo slider css -->
    <link rel="stylesheet" href="/assets/css/nivo-slider.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- slick css -->
   <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- price slider css -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
     <!-- fancybox css -->
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.css">     
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- default css  -->
    <link rel="stylesheet" href="/assets/css/default.css">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <!-- custom redesigns -->
    <link rel="stylesheet" href="/assets/css/product-redesign.css">
    <link rel="stylesheet" href="/assets/css/shop-redesign.css">
    <!-- RTL stylesheet: mirrors LTR spacing/floats for Bootstrap 4 components -->
    <link rel="stylesheet" href="/assets/css/rtl.css">

    <!-- Modern Product Page Redesign CSS -->
    <link rel="stylesheet" href="/assets/css/product-redesign.css">

    <!-- modernizr js -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <div class="wrapper homepage">
        
        
        <!-- Header Area Start -->
        <header>
            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->                        
                        <div class="col-lg-4 col-md-12 d-center">
                            <div class="header-top-left">
                                <img src="/assets/img/icon/call.png" alt="">تماس با ما : <span dir="ltr">@Azimzadeh_MVC_project.Models.SiteSettingsHelper.HeaderContactPhone</span>
                            </div>                        
                        </div>
                        <!-- Header Top left End -->
                        <!-- Search Box Start -->                                        
                        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                            <div class="search-box-view">
                                <form action="#">
                                    <input type="text" class="email" placeholder="جستجوی محصول..." name="product">
                                    <button type="submit" class="submit"></button>
                                </form>
                            </div>                                           
                        </div>
                        <!-- Search Box End --> 
                        <!-- Header Top Right Start -->                                       
                        <div class="col-lg-4 col-md-12">
                            <div class="header-top-right">
                                <ul class="header-list-menu f-right">
                                    <!-- User Profile Start -->
                                    <li><a href="/Home/Account"><i class="fa fa-user-circle-o" style="margin-left: 5px;"></i>حساب کاربری <i class="fa fa-angle-down" style="margin-right: 5px;"></i></a>
                                        <ul class="ht-dropdown">
                                            <li><a href="/Home/Login"><i class="fa fa-sign-in" style="margin-left: 5px;"></i>ورود</a></li>
                                            <li><a href="/Home/Register"><i class="fa fa-user-plus" style="margin-left: 5px;"></i>ثبت نام</a></li>
                                            <li><a href="/Home/Account"><i class="fa fa-drivers-license-o" style="margin-left: 5px;"></i>پنل کاربری</a></li>
                                        </ul>
                                    </li>
                                    <!-- User Profile End -->
                                </ul>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                            <div class="logo">
                                <a href="/" style="font-size: 28px; font-weight: 800; color: #febf14; text-decoration: none; font-family: 'Vazirmatn', sans-serif; letter-spacing: 1px;">@Azimzadeh_MVC_project.Models.SiteSettingsHelper.HeaderTitle</a>
                            </div>
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                            <div class="middle-menu pull-right">
                                <nav>
                                    <ul class="middle-menu-list">
                                        <li><a href="/">خانه</a></li>
                                        <li><a href="/Home/About">درباره ما</a></li>                                        
                                        <li><a href="/Home/Shop">فروشگاه<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown dropdown-style-two">
                                                <li><a href="/Home/Shop">فروشگاه</a>
                                                    <!-- Start Two Step -->
                                                    <ul class="ht-dropdown dropdown-style-two sub-menu">
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a>
                                                            <!-- Start Three Step -->
                                                            <ul class="ht-dropdown dropdown-style-two sub-menu">
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/Home/Product">صفحه جزئیات محصول</a></li>
                                                <li><a href="/Home/Cart">صفحه سبد خرید</a></li>
                                                <li><a href="/Home/Checkout">صفحه پرداخت</a></li>
                                                <li><a href="/Home/Wishlist">صفحه علاقه‌مندی‌ها</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>                                        
                                        <li><a href="/Home/Blog">وبلاگ<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown dropdown-style-two">
                                                <li><a href="/Home/Blog">صفحه وبلاگ</a></li>
                                                <li><a href="/Home/BlogDetails">جزئیات مطلب وبلاگ</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="#">صفحات<i class="fa fa-angle-down"></i></a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul class="ht-dropdown dropdown-style-two">
                                                <li><a href="/Home/Login">صفحه ورود</a></li>
                                                <li><a href="/Home/Register">صفحه ثبت نام</a></li>
                                                <li><a href="/Home/Error404">صفحه ۴۰۴</a></li>
                                                <li><a href="/Home/ForgotPassword">فراموشی رمز عبور</a></li>
                                                <li><a href="/Home/Account">حساب کاربری</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="/Home/Contact">تماس با ما</a></li>                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Cartt Box Start -->
                        <div class="col-lg-3 col-sm-7 col-7">
                            <div class="cart-box text-right">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user-o"></i></a>
                                        <ul class="ht-dropdown" style="min-width: 140px;">
                                            @if (Session["UserId"] == null)
                                            {
                                                <li><a href="/Home/Login">ورود</a></li>
                                                <li><a href="/Home/Register">ثبت نام</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="/Home/Account">حساب کاربری</a></li>
                                                if (Session["IsAdmin"] != null)
                                                {
                                                    <li><a href="/Admin" style="color: #febf14; font-weight: bold;">پنل مدیریت</a></li>
                                                }
                                                <li><a href="/Home/Logout">خروج</a></li>
                                            }
                                        </ul>
                                    </li>                                    
                                    <li><a href="/Home/Wishlist"><i class="fa fa-heart-o"></i></a></li>
                                    <li><a href="/Home/Cart"><i class="fa fa-shopping-basket"></i><span class="cart-counter">@(ViewBag.HeaderCartCount ?? 0)</span></a>
                                         <ul class="ht-dropdown main-cart-box">
                                            <li>
                                                @if (ViewBag.HeaderCartItems != null && ((List<Azimzadeh_MVC_project.Models.CartItem>)ViewBag.HeaderCartItems).Any())
                                                {
                                                    foreach (var item in (List<Azimzadeh_MVC_project.Models.CartItem>)ViewBag.HeaderCartItems)
                                                    {
                                                        var imgPath = item.Product.ProductImages.OrderBy(pi => pi.DisplayOrder).FirstOrDefault()?.ImagePath ?? "/assets/img/products/1.jpg";
                                                        <!-- Cart Box Start -->
                                                        <div class="single-cart-box">
                                                            <div class="cart-img">
                                                                <a href="/Home/Product?id=@item.ProductId"><img src="@imgPath" alt="@item.Product.Title"></a>
                                                            </div>
                                                            <div class="cart-content">
                                                                <h6><a href="/Home/Product?id=@item.ProductId">@item.Product.Title</a></h6>
                                                                <span>@item.Quantity × @item.UnitPrice.ToString("N0") ریال</span>
                                                            </div>
                                                            <a class="del-icone" href="/Home/RemoveFromCart?id=@item.CartItemId" onclick="return confirm('آیا از حذف این کالا اطمینان دارید؟');"><i class="fa fa-window-close-o"></i></a>
                                                        </div>
                                                        <!-- Cart Box End -->
                                                    }
                                                    <!-- Cart Footer Inner Start -->
                                                    <div class="cart-footer fix">
                                                        <h5>مجموع :<span class="f-right">@(((decimal)(ViewBag.HeaderCartSubtotal ?? 0)).ToString("N0")) ریال</span></h5>
                                                        <div class="cart-actions" style="display: flex; gap: 10px;">
                                                            <a class="checkout" href="/Home/Cart" style="flex: 1; text-align: center;">سبد خرید</a>
                                                            <a class="checkout" href="/Home/Checkout" style="flex: 1; text-align: center; background: #febf14; color: #2d3748;">تسویه حساب</a>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="text-center" style="padding: 15px; color: #718096; white-space: nowrap;">سبد خرید شما خالی است.</div>
                                                }
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cartt Box End -->
                        <div class="col-sm-12 d-lg-none">
                            <div class="mobile-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">خانه</a></li>
                                        <li><a href="/Home/Shop">فروشگاه</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="/Home/Product">فروشگاه</a>
                                                    <ul>
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a>
                                                            <!-- Start Three Step -->
                                                            <ul>
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                                <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                        <li><a href="/Home/Shop">نام دسته بندی محصول</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/Home/Product">صفحه جزئیات محصول</a></li>
                                                <li><a href="/Home/Cart">صفحه سبد خرید</a></li>
                                                <li><a href="/Home/Checkout">صفحه پرداخت</a></li>
                                                <li><a href="/Home/Wishlist">صفحه علاقه‌مندی‌ها</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="/Home/Blog">وبلاگ</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="/Home/BlogDetails">جزئیات مطلب وبلاگ</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="#">صفحات</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="/Home/Login">صفحه ورود</a></li>
                                                <li><a href="/Home/Register">صفحه ثبت نام</a></li>
                                                <li><a href="/Home/Error404">صفحه ۴۰۴</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="/Home/About">درباره ما</a></li>
                                        <li><a href="/Home/Contact">تماس با ما</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu  End -->                        
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End -->
        </header>
        <!-- Header Area End -->

@RenderBody()

        <footer class="off-white-bg">
            <!-- Footer Top Start -->
            <div class="footer-top pt-50 pb-60">
                <div class="container">
                    <div class="row">
                        <!-- Single Footer Start -->
                        <div class="col-lg-4  col-md-7 col-sm-6">
                            <div class="single-footer">
                                <h3>تماس با ما</h3>
                                <div class="footer-content">
                                    <div class="loc-address">
                                        <span><i class="fa fa-map-marker"></i>آدرس: @Azimzadeh_MVC_project.Models.SiteSettingsHelper.FooterAddress</span>
                                        <span><i class="fa fa-envelope-o"></i>ایمیل: @Azimzadeh_MVC_project.Models.SiteSettingsHelper.FooterEmail</span>
                                        <span><i class="fa fa-phone"></i>تلفن: <span dir="ltr">@Azimzadeh_MVC_project.Models.SiteSettingsHelper.FooterPhone</span></span>
                                    </div>
                                    <div class="payment-mth"><a href="#"><img class="img" src="/assets/img/footer/1.png" alt="درگاه‌های پرداخت"></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">اطلاعات</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">نقشه سایت</a></li>
                                        <li><a href="#">ویژه‌ها</a></li>
                                        <li><a href="#">فرصت‌های شغلی</a></li>
                                        <li><a href="#">اطلاعات ارسال</a></li>
                                        <li><a href="#">تاریخچه سفارشات</a></li>
                                        <li><a href="#">حریم خصوصی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">حساب کاربری من</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="/Home/Account">حساب کاربری</a></li>
                                        <li><a href="#">تسویه حساب</a></li>
                                        <li><a href="#">ورود</a></li>
                                        <li><a href="#">آدرس‌ها</a></li>
                                        <li><a href="#">وضعیت سفارش</a></li>
                                        <li><a href="#">نقشه سایت</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">خدمات مشتریان</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="/Home/Account">حساب من</a></li>
                                        <li><a href="#">جدیدترین‌ها</a></li>
                                        <li><a href="#">کارت هدیه</a></li>
                                        <li><a href="#">رویه بازگشت کالا</a></li>
                                        <li><a href="#">سفارش‌های شما</a></li>
                                        <li><a href="#">پشتیبانی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">راهنمای خرید</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">حساب شما</a></li>
                                        <li><a href="#">سفارش‌های شما</a></li>
                                        <li><a href="#">اطلاعات ارسال</a></li>
                                        <li><a href="#">سرویس‌های ویژه</a></li>
                                        <li><a href="#">تعویض کالا</a></li>
                                        <li><a href="#">مدیریت حساب</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            <div class="footer-bottom off-white-bg2">
                <div class="container">
                    <div class="footer-bottom-content">
                        <p class="copy-right-text">@Html.Raw(Azimzadeh_MVC_project.Models.SiteSettingsHelper.CopyrightText)</p>
                        <div class="footer-social-content">
                            <ul class="social-content-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                             </ul>
                        </div>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer End -->

    </div>
    <!-- Wrapper End -->
    <!-- jquery 3.12.4 -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- mobile menu js  -->
    <script src="/assets/js/jquery.meanmenu.min.js"></script>
    <!-- scroll-up js -->
    <script src="/assets/js/jquery.scrollUp.js"></script>
    <!-- owl-carousel js -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- price slider js -->
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <!-- nivo slider js -->
    <script src="/assets/js/jquery.nivo.slider.js"></script>
    <!-- fancybox js -->
    <script src="/assets/js/jquery.fancybox.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.js"></script>
    <!-- plugins -->
    <script src="/assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
</body>

</html>
